b
{
text-decoration:none;
width:100px;
height:75px;
border-color:black;
border-top:1px solid;
border-bottom:1px solid;
border-right:1px solid;
border-left:1px solid;
border-radius:1px 10px 10px;
-o-border-radius:10px 10px 10px;
-webkit-border-radius:10px 10px 10px;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
-moz-border-radius:10px 10px 10px;
background-color:red;
padding:20px;
text-align:center;
}
b:link {color:white;}      /* unvisited link */
b:visited {color:white;}  /* visited link */
b:hover {color:white;}  /* mouse over link */
b:active {color:white;}  /* selected link */

